:host(){
	display:block;
}
.controls{
	font-size: 2em;
}
.circle-button{
	height: 60px;
	width: 60px;
	background: none;
	border: none;
	outline: none;
	margin: 10px;
	background-color: #2d2a56;
	color: white;
	border-radius: 50%;
}